﻿
@{
    Layout = null;
}
@model IEnumerable<Finalterm.Models.Product>
<!doctype html>
<html>




<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/CSS/bootstrap4.css">
    <link rel="stylesheet" href="~/CSS/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>project 4</title>
</head>

<body>
    <div class="container-fluid bg-dark text-light" style="width:100;align-content:center" align="center">
        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" style="align-content:center" width="200" height="200" />
    </div>
    @{
        if (Session["Login"].ToString().Equals("0"))
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        @*<div class="col-md-5"><i class="fa fa-envelope-o" aria-hidden="true"></i> debjyoti.das7@gmail.com</div>*@
                        <div class="col-md-3">

                        </div>

                        <div align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Login","Home")">Login</a></div>
                        @*<div class="col-md-2"> <i class="fa fa-cart-plus" aria-hidden="true"></i> My Cart - $ 0.00</div>*@
                        @*<div class="col-md-2"  align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Admin","Home")">Admin</a></div>*@
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        <div class="col-md-2" align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Logout","Home")">Logout</a></div>
                        <div class="col-md-3">
                            <div class="col-md-2" align="right"> <a href="@Url.Action("Index","Message")">Message to Admin</a></div>

                        </div>

                    </div>
                </div>
            </div>




        }
    }
    @foreach (var item in Model)
    {
        if ((int)item.Id == (int)Session["pid"])
        {
            <div>
                <table border="0" style=" width:60%; align:center; margin:10px;">
                    <tr>
                        <th>Product Image</th>
                        <td><h3>Description</h3></td>
                    </tr>
                    <tr>
                        <td><img src="@Url.Content(item.image)" width="350" height="320" align="middle" /></td>

                        <td>
                            <h3>Features</h3><br /> <h6>@Html.DisplayFor(modelItem => item.Description)</h6><br />


                            <h3>Price</h3><br /> <h6>

                                @Html.DisplayFor(modelItem => item.Sell_Price)
                            </h6>
                            <h3>Rating</h3><br /> <h6>
                                @* @Html.DisplayFor(modelItem => item.Rating)*@
                                <input type="text" name="name" value="@ViewBag.avgrating" />
                            </h6>
                            @{
                                if (Session["Login"].ToString() == "0")
                                {

                                }
                                else
                                {
                                    <h3>Enter Quantity</h3>
                                    <form action="~/Carts/AddToCart" method="post">
                                        @{
                                            int i = (int)Session["pid"];
                                        }
                                        <input type="hidden" name="productID" value="@i" />
                                        <input type="number" name="quantity" min="1" max="20"><br />
                                        <input type="submit" name="id" value="Add to cart" class="btn btn-danger" />
                                        @* <a href="@Url.Action("Details")@item.Id" class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Add To Cart</a>*@

                                    </form>
                                }
                            }



                        </td>
                        @*<td> <h3>Price</h3><br /> <h6>@Html.DisplayFor(modelItem => item.Sell_Price)</h6></td>*@

                    </tr>
                    <tr></tr>
                </table>
            </div>

        }
    }
    <div>

        <table width="70%" border="0" align="center" style="margin:10px;">
            <tr>
                <td>
                    <h3>Previous Review And Comments</h3><br />
                </td>
                <td>
                    @{
                        if (Session["Login"].ToString().Equals("0"))
                        {

                        }
                        else
                        {
                            <form action="/Home/AddComment" method="post">
                                <h3>Rate This Product</h3>

                                <input type="number" name="quantity" min="1" max="5"><br />
                                <h3>Leave A Comment</h3>&nbsp;<div>Anonymous</div> <input type="radio" name="anno" value="0">no<br>
                                <input type="radio" name="anno" value="1">Yes<br>
                                <input type="text" name="comment"><br />


                                <input type="submit" value="Submit" class="btn btn-danger">

                            </form>
                        }
                    }

                </td>

            </tr>
            @foreach (var item in ViewBag.cus)
            {

                <tr>

                    <td>
                        @{
                            if (item.Annonyms == 1)
                            {
                                <h3>Customer Name</h3>
                                <h6>
                                    BuyHere Customer
                                </h6>

                            }


                            else
                            {
                                <h3>Customer Name</h3>

                                <h4> @item.Customer.Name</h4>
                            }


                        }
                        <h3>Rating</h3>


                        <h4>@item.rating</h4>
                        <h3>Comment</h3>

                        <h5>   @item.Comment1 </h5>
                        <h2>---------------------------</h2>

                    </td>




                </tr>

            }


        </table>
    </div>
    <footer>
        <div class="container-fluid pt-5 pb-5 bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                        </div>
                        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" width="200" height="200" />

                    </div>
                    <div class="col-md-3 pl-4">
                        <div class="row">
                            <h5>About</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <div class="row">
                            <p>BuyHere.com.bd is the best online shopping site in bangladesh selling millions of products electronics products. Experience fast, reliable and trusted online shopping in bangladesh with home delivery anywhere across country. Find latest trends in fashion according to seasons and occasions with BuyHere online shopping and remain in style 24x7 and 365 days a year. BuyHere provides a facility of online shopping with cash on delivery to your home.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <h5>Social Media</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <a href="https://www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
                        <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
                        @*<button class="btn btn-outline-light">Autunm</button> <button class="btn btn-outline-light">Dress</button> <button class="btn btn-outline-light">Fashion</button> <button class="btn btn-outline-light">Ladice Dress</button> <button class="btn btn-outline-light">Black Dress</button>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>




</body>
</html>