﻿
@{
    Layout = null;
}
@model IEnumerable<Finalterm.Models.Product>
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/CSS/bootstrap4.css">
    <link rel="stylesheet" href="~/CSS/custom.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>project 4</title>
</head>

<body>
    <div class="container-fluid bg-dark text-light" style="width:100;align-content:center" align="center">
        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" style="align-content:center" width="200" height="200" />
    </div>
    @{
        if (Session["Login"].ToString().Equals("0"))
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        @*<div class="col-md-5"><i class="fa fa-envelope-o" aria-hidden="true"></i> debjyoti.das7@gmail.com</div>*@
                        <div class="col-md-3">

                        </div>
                        <div align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Login","Home")">Login</a></div>
                        <div class="col-md-2"> <img src="https://img.icons8.com/metro/26/000000/add-user-male.png"> <a href="@Url.Action("SignUp","Home")">Register</a></div>
                        @*<div class="col-md-2"  align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Admin","Home")">Admin</a></div>*@
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container-fluid bg-dark header-top d-none d-md-block">
                <div class="container">
                    <div class="row text-light pt-2 pb-2">
                        <div class="col-md-2" align="right"> <i class="fa fa-user-o" aria-hidden="true"></i> <a href="@Url.Action("Logout","Home")">Logout</a></div>
                        <div class="col-md-3">
                            <div class="col-md-2"> <a href="@Url.Action("Index","Message")">Message </a></div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-2"> <a href="@Url.Action("ViewOrder","Home")">My Order</a></div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-2"> <a href="@Url.Action("MyProfile","Home")">My Info</a></div>
                        </div>
                    </div>
                </div>
            </div>




        }
    }
            <div class="container-fluid bg-black">
                <nav class="container navbar navbar-expand-lg navbar-dark bg-black">


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        @using (Html.BeginForm("Search", "Products", FormMethod.Get))
                        {
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchVal">
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search" />
                        }

                    </div>
                </nav>
            </div>


    @*<div class="container-fluid bg-black">
            <nav class="container navbar navbar-expand-lg navbar-dark bg-black">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Message/Index">Chat With Admin </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="@Url.Content(ViewBag.one)" alt="img1">
                <div class="carousel-caption d-none d-md-block">
                    <h1>BEST SMART PHONE COLLECTION</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    @*<button class="btn btn-info btn-lg">Shop Now</button>*@
                    <a href="@Url.Action("Search1","Products",new { categoryVal=ViewBag.zero})" class="btn btn-info btn-lg">content</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="@Url.Content(ViewBag.two)" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>BEST SMART PHONE COLLECTION</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    @*<button class="btn btn-info btn-lg">Shop Now</button>*@
                    <a href="@Url.Action("Search1","Products",new { categoryVal=ViewBag.three})" class="btn btn-info btn-lg">content</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="@Url.Content(ViewBag.two)" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>BEST SMART PHONE COLLECTION</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    @*<button class="btn btn-info btn-lg">Shop Now</button>*@
                    <a href="@Url.Action("Search1","Products",new { categoryVal=ViewBag.three})" class="btn btn-info btn-lg">content</a>
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



    <div class="container-fluid offer pt-3 pb-3 bg-orange d-none d-md-block">
        <div class="container">
            <div class="row">
                <div class="col-md-4 m-right">
                    <h4>FREE SHIPPING</h4>
                    <p>On all over the Bangladesh</p>
                </div>

                <div class="col-md-4 m-right">
                    <h4>CALL US ANYTIME</h4>
                    <p>+8801521312846</p>
                </div>

                <div class="col-md-4">
                    <h4>OUR LOCATION</h4>
                    <p>On all orders over 90$</p>
                </div>
            </div>
        </div>
    </div>











    @{
        foreach (var item1 in ViewBag.Cata)
        {
            <div class="container-fluid bg-light-gray">

                <div class="container pt-5">

                    <div class="row">
                        <h3>@item1.Name</h3>
                    </div>
                    <div class="row">
                        <div class="underline"></div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    @foreach (var item in Model)
                    {

                        if (item.Catagory_Id == item1.Id)
                        {
                            <div class="col-md-3">
                                <div class="card">
                                    @*<img src="~/Image/redmi5plus.jpg" alt="card-1" class="card-img-top">*@
                                    <a href="@Url.Action("Details","Home",new { id=item.Id})"><img src="@Url.Content(item.image)" width="250" height="250"></a>
                                    <div class="card-body">
                                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>

                                        @*@Html.DisplayFor(modelItem => item.Sell_Price)*@
                                        <h6>@Html.DisplayFor(modelItem => item.Sell_Price)</h6>
                                        <a href="@Url.Action("Details","Home",new { id=item.Id})" class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> View Details</a>
                                    </div>
                                </div>
                            </div>
                        }

                    }

                </div>
            </div>
        }
    }

    <footer>
        <div class="container-fluid pt-5 pb-5 bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="row">
                        </div>
                        <img src="~/Image/73474977_484313005624525_7008271267014901760_n.png" alt="Alternate Text" width="200" height="200" />

                    </div>
                    <div class="col-md-3 pl-4">
                        <div class="row">
                            <h5>About</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <div class="row">
                            <p>BuyHere.com.bd is the best online shopping site in bangladesh selling millions of products electronics products. Experience fast, reliable and trusted online shopping in bangladesh with home delivery anywhere across country. Find latest trends in fashion according to seasons and occasions with BuyHere online shopping and remain in style 24x7 and 365 days a year. BuyHere provides a facility of online shopping with cash on delivery to your home.</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="row">
                            <h5>Social Media</h5>
                        </div>
                        <div class="row mb-4">
                            <div class="underline bg-light" style="width: 50px;"></div>
                        </div>
                        <a href="https://www.facebook.com"><img src="https://img.icons8.com/color/48/000000/facebook.png"></a>
                        <a href="https://twitter.com"><img src="https://img.icons8.com/color/48/000000/twitter.png"></a>
                        @*<button class="btn btn-outline-light">Autunm</button> <button class="btn btn-outline-light">Dress</button> <button class="btn btn-outline-light">Fashion</button> <button class="btn btn-outline-light">Ladice Dress</button> <button class="btn btn-outline-light">Black Dress</button>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</body>
</html>


